<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NPL Project</title>
  </head>
  <body>
    <body>
      <div class="container">
      <header>
          <div class="logo">
              <img id="img_logo" src="http://www.logologo.com/logos/globe-compass-logo.jpg" alt="Company Logo" />
          </div>
      </header>

      <main>
          <section>
              <form class="" onsubmit="return Client.handleSubmit(event)">
                  <input id="name" type="text" name="input" value="" placeholder="Name"><br/>
                  <input type="submit" name="" id="submitButton" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
              </form>
          <section>

          <section>
              <strong>Form Results:</strong>
              <div id="results"></div>
          </section>
      </main>

      <footer>
          <p>&copy; 2020 - Joern Bergmeier</p>
      </footer>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>
  </body>
  </body>
</html>
