<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NPL Project</title>
  </head>
  <body>
    <body>
      <div class="container">
      <header>
          <div class="">
              Logo
          </div>
          <div class="">
              navigation
          </div>
      </header>

      <main>
          <section>
              <form class="" onsubmit="return Client.handleSubmit(event)">
                  <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name"><br/>
                  <input type="submit" name="" id="submitButton" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
              </form>
          <section>

          <section>
              <strong>Form Results:</strong>
              <div id="results"></div>
          </section>
      </main>

      <footer>
          <p>This is a footer</p>
      </footer>
    </div>
  </body>
  </body>
</html>
